@model IEnumerable<LunchApp.Models.Restaurant>

<form asp-action="PickRandom">
    
    <br>

    <table class="table table-bordered table-responsive table-hover">  
        <tr>  
            <th>Name</th>  
        </tr>  
        @foreach (var d in Model)  
        {  
            <tr>  
                <td>@d.Name</td>  
            </tr>  
        }  
    </table> 
    <br> 
        <button type="submit" value="Save" class="btn btn-primary">
        Random
    </button>
</form>