@model LunchApp.Models.ViewModels.RestaurantsViewModel

<form asp-action="PickRandom">
    
    <br>

    <table class="table table-bordered table-responsive table-hover">  
        <tr>  
            <th>Name</th>  
            <th>Selected</th>
        </tr>  
        @foreach (var d in Model.Restaurants)  
        {  
        <tr>
            <td>@d.Name</td>
            <td><input type="checkbox" asp-for="@d.IsSelected" checked/></td>
        </tr>  
        }  
    </table> 
    <br> 
        <button type="submit" value="Save" class="btn btn-primary">
        Random
    </button>
</form>